@model List<growTests.Models.Leilao>

@{
    ViewData["Title"] = "My Auctions";
    var english = Context.Request.Cookies["language"] == "en" || Context.Request.Cookies["language"] == null;
    int currentPage = ViewBag.CurrentPage;
    int totalPages = ViewBag.TotalPages;
    int itemsPerPage = 3;
}


<div class="container-my-auctions">

    @if (Model != null && Model.Any())
    {
        <div class="auctions-container">
            @foreach (var auction in Model.Take(itemsPerPage))
            {
                <div class="auction-card">
                    <img src="@Url.Content(auction.Item.FotoUrl)" class="auction-image" alt="Auction Image">
                    <div class="auction-info">
                        <h3 class="auction-title">@auction.Item.Titulo</h3>
                        <p class="auction-text">@(english ? "Current bid:" : "Preço atual:") <b>@auction.ValorAtualLance.ToString("C")</b></p>
                        <p class="auction-text">@(english ? "Ends on:" : "Termina em:") @auction.DataFim.ToString("dd/MM/yyyy HH:mm")</p>
                    </div>
                    <div class="auction-actions">
                        <a href="@Url.Action("Details", "Leilaos", new { id = auction.LeilaoId })" class="btn-my-auctions">
                            <i class="fas fa-eye"></i> @(english ? "View" : "Ver")
                        </a>
                        @* <a href="@Url.Action("Edit", "Leilaos", new { id = auction.LeilaoId })" class="btn btn-edit">
                            <i class="fas fa-edit"></i> @(english ? "Edit" : "Editar")
                        </a> *@
                        <a href="@Url.Action("Delete", "Leilaos", new { id = auction.LeilaoId })" class="btn-my-auctions butt-del" onclick="return confirm('@(english ? "Are you sure?" : "Tem a certeza?")');">
                            <i class="fas fa-trash"></i> @(english ? "Delete" : "Eliminar")
                        </a>
                        @if (auction.EstadoLeilao == EstadoLeilao.Encerrado && auction.Vencedor == null)
                        {
                            <a asp-controller="Leiloes" asp-action="RecolocarLeilao" asp-route-id="@auction.LeilaoId" class="btn btn-primary">
                                Recolocar Leilão
                            </a>
                        }


                    </div>
                </div>
            }
        </div>

        <div class="pagination">
            @if (currentPage > 1)
            {
                <a href="@Url.Action("MyAuctions", new { page = currentPage - 1 })" class="page-link"> @(english ? "Previous" : "Anterior")</a>
            }

            <span class="page-number">@(english ? "Page" : "Página") @currentPage <span>@(english ? "of" : "de")</span> @totalPages</span>

            @if (currentPage < totalPages)
            {
                <div class="next-page">
                    <a href="@Url.Action("MyAuctions", new { page = currentPage + 1 })" class="page-link">@(english ? "Next" : "Próxima") </a
                </div>
               }
        </div>
    }
    else
    {
        <p class="no-auctions">@(english ? "No auctions found." : "Nenhum leilão encontrado.")</p>
    }

    <div class="create-auction-container">
        <a href="@Url.Action("Create", "Leilaos")" class="btn btn-create">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
