@model growTests.Models.LoginModel

@{
    ViewData["Title"] = "Forgot Password";
}
@{
    var english = Context.Request.Cookies["language"] == "en" || Context.Request.Cookies["language"] == null;
}

<div class="container login-page">
    <div class="login-container">
        <h2>@(english ? "Forgot Password" : "Esqueceu-se da palavra-passe")</h2>
        <p class="text-muted">@(english ? "Enter your email to receive a verification code." : "Insira o seu email para receber um código de verificação")</p>

        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <input asp-for="Email" class="form-control form-control-lg" placeholder="@(english ? "Enter your email" : "Insira o seu email")"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn login-btn btn-block">@(english ? "Sendo Code" : "Enviar código")</button>
        </form>

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger mt-3">
                @TempData["Error"]
            </div>
        }
    </div>
</div>
