@model growTests.Models.LoginModel

@{
    ViewData["Title"] = "Reset Password";
}

@{
    var english = Context.Request.Cookies["language"] == "en" || Context.Request.Cookies["language"] == null;
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert" style="margin-top: 80px;">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}


<div class="container login-page">
    <div class="login-container">
        <h2>@(english ? "Reset Password" : "Repor palavra-passe")</h2>
        <p class="text-muted">@(english ? "Enter your new passsword below." : "Insira a nova palavra-passe abaixo")</p>

        <form asp-action="ResetPassword" method="post">
            <div class="form-group">
                <input name="newPassword" class="form-control form-control-lg" type="password" placeholder="@(english ? "Enter new password" : "Insira uma palavra-passe nova")" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">@(english ? "Reset password" : "Repor palavra-passe")</button>
        </form>

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger mt-3">
                @TempData["Error"]
            </div>
        }

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success mt-3">
                @TempData["Success"]
            </div>
        }
    </div>
</div>
