@model IEnumerable<projeto.Models.DescontoResgatado>

@{
    ViewData["Title"] = "Os meus descontos";
}

@{
    var english = Context.Request.Cookies["language"] == "en" || Context.Request.Cookies["language"] == null;
}

<div class="meus-descontos-container" style="width: 800px; margin: 0 auto;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>@(english ? "Description" : "Descrição")</th>
                <th>@(english ? "Value" : "Valor")</th>
                <th>@(english ? "Redeem Date" : "Data de Resgate")</th>
                <th>@(english ? "Expires in:" : "Expira em:")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Desconto.Descricao</td>
                        <td>@item.Desconto.Valor<span>%</span></td>
                        <td>@item.DataResgate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if (item.Usado)
                            {
                                <span class="text-danger">@(english ? "Used" : "Usado")</span>
                            }
                            else if (item.DataValidade < DateTime.Now)
                            {
                                <span class="text-danger">@(english ? "Expired" : "Expirado")</span>
                            }
                            else
                            {
                                @item.DataValidade.ToString("dd/MM/yyyy")
                            }
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center text-muted mt-4">
                        @(english ? "You have no redeemed discounts yet." : "Ainda não tem descontos resgatados.")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
